<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Visitor Experiments | Turbo Consent</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/output.css}" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bulma.js}"></script>
</head>
<body>
<!-- Navigation bar start -->
<nav class="navbar is-dark has-shadow">
    <div class="container">
        <div class="navbar-brand">
            <a th:href="@{/}" class="navbar-item">
                <img src="" th:src="@{/media/wtc_logo.gif}" alt="Logo" />
                <p id="brand-title"><strong>&ensp;&nbsp;Turbo Consent</strong></p>
            </a>
            <span class="navbar-burger burger" data-target="navbarMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <a th:href="@{/}" class="navbar-item">
                    Home
                </a>
                <a th:href="@{/admin/accounts}" class="navbar-item">
                    Accounts
                </a>
                <a th:href="@{/admin/visitors}" class="navbar-item">
                    Visitors
                </a>
                <a th:href="@{/adming/experiments}" class="navbar-item">
                    Experiments
                </a>
                <a th:href="@{/adming/vexp}" class="navbar-item" is-active>
                    Visitor Experiments
                </a>
                <a th:href="@{/logout}" class="navbar-item has-text-danger is-hidden-desktop">
                    Log Out
                </a>
                <span class="navbar-item is-hidden-touch">
                        <a th:href="@{/logout}" class="button is-danger is-inverted is-outlined">Log Out</a>
                    </span>
            </div>
        </div>
    </div>
</nav>

<!-- Banner start -->
<section class="hero is-success is-2 is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                Admin - Visitor Experiments.
            </h1>
            <h2 class="subtitle">
                View all Visitor Experiments and add/remove Visitor Experiment entries here.
            </h2>
        </div>
    </div>
</section>

<!-- Main Content start -->
<section class="container" style="margin-top:24px">
    <form>
        <table class="features table is-hoverable is-fullwidth is-striped is-hidden-touch">
            <tbody class="tbody">
            <tr>
                <th class="hentry is-size-6">Visitor Experiment ID</th>
                <th class="hentry is-size-6">Visitor ID</th>
                <th class="hentry is-size-6">Experiment ID</th>
                <th class="hentry is-size-6">Delete</th>
            </tr>

            <tr th:each="ve : ${visitorExperiments}">
                <th class="hentry is-size-6" th:text="${ve.compoundKey}">Visitor Experiment ID</th>
                <th class="hentry is-size-6" th:text="${ve.visitor.visitorId}">Visitor ID</th>
                <th class="hentry is-size-6" th:text="${ve.experiment.id}">Experiment ID</th>
                <th class="hentry is-size-6"><a class="delete-entry">Delete</a></th>
            </tr>
            </tbody>
        </table>

        <div class="box exp-options">
            <h1 class="subtitle">
                Add a new Visitor Experiment
            </h1>

            <div class="field">
                <label>Visitor Id:&nbsp;<input type="text" name="visitorId" /></label>
            </div>

            <div class="field">
                <label>Parent Account ID:&nbsp;<input type="text" name="description" /></label>
            </div>

            <button type="submit" class="button is-link">Create</button>
        </div>
    </form>
</section>

<!-- Footer start -->
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>Copyright © 2018 Turbo Consulting</p>
            <!--<a href="#">Terms of Use</a> &nbsp;·&nbsp;-->
            <!--<a href="#">Privacy Policy</a> &nbsp;·&nbsp;-->
            <!--<a href="#">Accessibility</a>-->
        </div>
    </div>
</footer>
</body>
</html>